.gridas {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;

  grid-template-areas:
    "a b b"
    "c d e"
    "f f f"
    "g h i"
    "j j j"
    "k l m";

  margin-top: 270px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 800px) {
  .gridas {
    gap: 30px;

    grid-template-areas:
      "b b"
      "a c"
      "d e"
      "f f"
      "g h"
      "i i"
      "j j"
      "k l"
      "m m";
    padding: 10px;
  }
}

@media only screen and (max-width: 558px) {
  .gridas {
    gap: 30px;

    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h"
      "i"
      "j"
      "k"
      "l"
      "m";
    padding: 10px;
  }
}

#turinys {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

#header {
  border: 2px solid #7abcac;
  background-color: #7abcac;
  height: 61px;
}

.cv-sablonas {
  text-align: center;
  line-height: 61px;
}

#tusciadeze {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 586px;
  height: 189px;
  border: 4px solid #000000;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  margin-top: 0px;
}

#tusciadeze2 {
  box-sizing: border-box;
  margin: 0 auto;
  width: 248px;
  height: 28px;
  border: 4px solid #000000;
  color: white;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  background-color: #000000;
  margin-top: -60px;
}

.rolandas-skrebutenas {
  margin-top: 45px;
}

.work {
  grid-area: f;
}

.links {
  font-size: 21px;
}

#hr {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 8px;
  border: 4px solid #dcdcdc;
}

#hr2 {
  box-sizing: border-box;

  border: 10px solid #7abcac;
  width: 70px;
  margin-top: -14px;
  margin-left: 0px;
}

#hr3 {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: -10px;
  border: 4px solid #dcdcdc;

  margin-left: 0px;
}
#hr4 {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 8px;
  border: 4px solid #dcdcdc;
  max-width: 1170px;
}
.line {
  grid-area: j;
}

.pav {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.apie-mane {
  font-size: 21px;
}

.apiemane-p {
  font-size: 16px;
}
.apiemane {
  grid-area: b;
  max-width: 870px;
}

.education {
  font-size: 21px;
}

.mokyklos-pavadinimas1 {
  text-align: left;
  line-height: 1.5rem;
}
.mokyklos-pavadinimas2 {
  text-align: left;
  line-height: 1.5rem;
  margin-top: 10px;
}

.personal-skills {
  font-size: 21px;
}

.komandinis-p {
  box-sizing: border-box;
  border: 1px solid #7abcac;
  border-radius: 11px;
  background: #7abcac;
  margin-top: 30px;
  width: max-content;
  padding: 2px 12px;

  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto";
}

.komunikabilus-p {
  margin-top: 30px;
  width: max-content;

  box-sizing: border-box;
  border: 2px solid #d8da79;
  border-radius: 11px;
  background: #d8da79;
  padding: 2px 12px;
  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto";
}

.organizuotas-p {
  margin-top: 30px;
  width: max-content;
  padding: 2px 12px;
  box-sizing: border-box;
  border: 2px solid #c29486;
  border-radius: 11px;
  background: #c29486;

  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto";
}

.imlus {
  padding: 2px 12px;
  border: 2px solid grey;
  background: grey;
  border-radius: 11px;
  margin-top: 30px;

  width: max-content;

  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto";
}

.technical-skills {
  font-size: 21px;
}

.html {
  box-sizing: border-box;
  border: 1px solid #7abcac;
  border-radius: 11px;
  background: #7abcac;
  margin-top: 30px;
  width: max-content;
  padding: 2px 12px;

  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto";
}

.css {
  box-sizing: border-box;
  border: 1px solid #7abcac;
  border-radius: 11px;
  background: #7abcac;
  margin-top: 30px;
  width: max-content;
  padding: 2px 12px;

  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto";
}

.java {
  margin-top: 30px;
  width: max-content;

  box-sizing: border-box;
  border: 2px solid #d8da79;
  border-radius: 11px;
  background: #d8da79;
  padding: 2px 12px;
  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto";
}

.react {
  margin-top: 30px;
  width: max-content;

  box-sizing: border-box;
  border: 2px solid #d8da79;
  border-radius: 11px;
  background: #d8da79;
  padding: 2px 12px;
  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto";
}

.work-experience-label {
  font-size: 21px;
}

.job-position-border-right1 {
  display: inline-block;
  text-align: center;
  border-right: 2px solid #dcdcdc;
  grid-area: g;
}
.job-position-border-right2 {
  display: inline-block;
  text-align: center;
  border-right: 2px solid #dcdcdc;
  grid-area: h;
}

.job-position {
  display: inline-block;
  text-align: center;
  grid-area: i;
}

.job-position-p {
  padding: 30px;
  text-align: justify;
  font-size: 16px;
}

.testukas-su-media-queries1 {
  flex: 1;
  display: inline-block;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  grid-area: k;
}

.testukas-su-media-queries2 {
  flex: 1;
  display: inline-block;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  grid-area: l;
}

.testukas-su-media-queries3 {
  flex: 1;
  display: inline-block;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  grid-area: m;
}
@media screen and (max-width: 920px) {
  .testukas-su-media-queries1 {
    border-right: 0px solid !important;
    border-left: 0px solid !important;
  }
}

@media screen and (max-width: 920px) {
  .testukas-su-media-queries2 {
    border-right: 0px solid !important;
    border-left: 0px solid !important;
  }
}

@media screen and (max-width: 920px) {
  .testukas-su-media-queries3 {
    border-right: 0px solid !important;
    border-left: 0px solid !important;
  }
}

.footer-address {
  border: 2px solid black;
  min-width: 250px;
  height: 28px;
  margin: 0 auto;
  line-height: 28px;
  color: #ffffff;
  background: black;
  font-size: 24px;
}

.footer-address-x {
  padding: 10px;
}

.footer-contact {
  border: 2px solid black;
  min-width: 250px;
  height: 28px;
  margin: 0 auto;
  line-height: 28px;
  color: #ffffff;
  background: black;
  font-size: 24px;
}

.footer-contact-x {
  padding: 10px;
}

.footer-social {
  border: 2px solid black;
  min-width: 250px;
  height: 28px;
  margin: 0 auto;
  line-height: 28px;
  color: #ffffff;
  background: black;
  font-size: 24px;
}

.footer-social-x {
  padding: 10px;
}

.links1 {
  grid-area: a;
}

.education1 {
  grid-area: c;
}

.personal-skills1 {
  grid-area: d;
}

.technical-skills1 {
  grid-area: e;
}
